<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <span class= "friend">
   <% unless user == current_user  || current_user.friends.include?(user) || current_user.pending_friends.include?(user) || user.friend_requests.include?(current_user) %>
       <button type="button" class="btn btn-success">
       <%= link_to 'invite', create_friendship_path(user), method: :post %>
       </button>
       <%else%>
        <span>you invited this user</span> 
   <% end %>
  
  </span> 
</li>

    



